@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  margin: 0px;
  background-image: url('https://graph.org/file/141fe5437a98f8b66988f.jpg');
}


ul li:not(:first-child) {
  display: block;
}

input {
  background-image: none;
}
button {
  background-image: none;
  background-color: lawngreen;
  color: darkblue;
  padding: 5px;
  font-size: 10px;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  display: block;
  font-style: normal;
  padding: 10px;
  font-size: 25px;
}

h1 {
  background-color: red;
  border-bottom: 40px;
  background-image: none;
  overflow: hidden;
  z-index: 4;
  box-shadow: 0 0 0 15px aqua;
  margin-bottom: 20px; /* Add this line */
}

h1 span {
  padding: 6px;
  border-radius: 10px;
  color: blueviolet;
}

.image-list li {
  margin: 50px;
  border: 10px solid white;
  display: block;
  border-radius: 15px;
}

.image-list li img {
  width: 200px;
  height: 150px;
  display: flex;
  border-radius: 5px;
}
